body{
	width: 100%;
	margin: 0 auto
}
*{

}

.container{
	width: 90%;
	margin: 0 auto;
}
.bars{
	color: red;
	font-size: 40px;
	position: absolute;
	top: 50px;
	left: 50px
	
}
.img-1{
	width: 100%;
	margin-left: 0
}
.bars:hover{
	cursor: pointer;
}
.img-front{
	font-size: 100px;
	color: black;
	font-weight: 600;
	font-family: arial;
	letter-spacing: 5px
}
.reddol{
	color: red
}
.yelloww{
	color: yellow
}
.relative{
	position: relative;
}
.img-pos{
	position: absolute;
	top: 30%;
	left: 130px
}
.psize{
	font-size: 40px;
	color: black
}
.img-2{
	position: absolute;
	bottom: 0%;
	left: 30%;
	width: 600px;
}
.all{
	background-color: red;
	width: 100%
}
.flex{
	width: 60%;
	height: 300px;
	margin: auto;
	padding-top: 80px
}
.p1{
	font-size: 18px;
	color: lightblue;
	line-height: 25px;
	text-align: center;
}
.span1{
	color: yellow
}
.head-3{
	background-color: white
}
.h3{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.h4{
	text-align: center;
	font-size: 24px;
	padding-bottom: 55px;
	letter-spacing: 10px
}
.icon-size{
	font-size: 50px;
	color: red;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%); 
}
.circle{
	margin: 0 auto;
	width: 150px;
	height: 150px;
	background-color: white;
	border-radius: 50%;
	border:1px solid red;
	position: relative;
}
.circle:hover{
	background-color: black;
	transition: .5s;
	cursor: pointer;
}
.flex-1{
	display: flex;
	justify-content: space-between;
}
.div-size{
	display: block;
	width: 30%;
}
.p-center{
	text-align: center;
	margin: 30px auto;
	font-family: arial;
	font-weight: 650
}

.container-all{
	width: 100%;
	margin-top: 100px
}
.container-all-1{
	width: 90%;
	margin: 0 auto;
	margin-top: 100px
}
.lorem-1{
	text-align: center;
	line-height: 25px;
	padding: 0 20px;
	color: grey
}
.img-size-1 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.class-1{
	width: 70%;
	background-color: red;
	padding: 5%;
	padding-bottom: 0

}
.flex-2{
	display: flex;
	justify-content: flex-start;
	border-bottom: 45px solid red
}
.flex-3{
	display: flex;
	justify-content: flex-start;
	border-bottom: 45px solid white
}
.p-a{
	color: white;
	font-size: 25px;
}
.p-b{
	color: white;
	font-size: 18px;
	margin-top: 45px;
	line-height: 27px;
	margin-bottom: 40px;
}
.read-more{
	background-color: red;
	color: white;
	padding: 20px;
	border:1px solid white;
}
.read-more:hover{
	background-color: white;
	color: red;
	transition: 0.6s;
	cursor: pointer;
}

.read-more-1{
	background-color: white;
	color: black;
	padding: 20px;
	border:1px solid black;
}
.read-more-1:hover{
	background-color: black;
	color: white;
	transition: 0.6s;
	cursor: pointer;
}

.p-c{
	color: grey;
	font-size: 25px
}
.p-d{
	color: grey;
	font-size: 18px;
	margin-top: 45px;
	line-height: 27px;
	margin-bottom: 40px;
}
.class-2{
	width: 50%;
	background-color: white;
	padding: 5%;
	padding-bottom: 0
}
.p-e{
	font-size: 22px;
	color: black;
	text-align: center;
	letter-spacing: 5px;
	margin-bottom: 20px
}
.p-f{
	font-size: 30px;
	color: red;
	text-align: center;
	letter-spacing: 10px;
	margin-bottom: 40PX;
}
.flex-4{
	display: flex;
}
.image{
	display: block;
	width: 25%;
	filter: grayscale(100%);
}
.images{
	display: block;
	width: 100%;
	height: 400px;
	object-fit: cover;
}
.container-2{
	width: 100%;
	background: red;
	height: 200px
}
.flex-5{
	display: flex;
	justify-content: center;
	align-items: center;

}
.button-2{
	font-size: 25px;
	color: gold;
	background: red;
	border:1px solid yellow;
	padding: 25px;
	cursor: pointer;
}
.doe{
	margin-top: 60px	
}
.button-2:hover{
	background: black;
	color: white;
	transition: .6s;
	border:1px solid white;
}
.my{
	color: black
}
.little{
	color: red
}
.p-g{
	text-align: center;
	font-size: 25px;
	margin-bottom: 50px;
	font-family: arial;
	font-weight: 600
}
.container-3{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px
}
.container-4{
	background: white
}
.flex-6{
	display: flex;
	justify-content: space-around;
}
.photo{
	width: 70%;
	height: 400px;
	filter: grayscale(100%);
	margin-left: 70px;
	object-fit: cover;
	margin-bottom: 50px
}
.div-pad{
	padding-top: 20px 10px
}
.container-5{
	width: 100%;
	margin: 80px auto;
}
.flex-7{
	background: white;
	display: flex;
	justify-content: flex-start;
}
.class-a{
	width: 50%;
}
.photo-0{
	object-fit: cover;
	width: 100%;
	height: 100%
}

.class-b{
	width: 50%;
	background: red;
	padding: 60px;
	color: white
}
.p-j{
font-family: arial;
font-weight: 550;
margin-bottom: 60px
}
.p-h{
	color: white;
	margin-top: 60px;
	margin-bottom: 60px;
	font-size: 18px
}
.p-i{
	font-family: arial;
	font-weight: 550;
}
.circle-0{
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: white
}
.circle-0:hover{
	background: yellow;
	transition: .6s
}
.circle-00{
	width: 10%;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.class-b-1{
	width: 50%;
	background: red;
	padding: 60px 0;
	color: white;
	align-items: center;
}
.telegram-size{

}
.telegram-icon{
	font-size: 30px;
	color: white;
	cursor: pointer;
}
.telegram-btn{
	padding: 15px;
	border-radius: 10%;
	background: yellow;
	color: red;
	cursor: pointer;
}
.telegram-input{
	padding: 15px 0;
	background: red;
	border:1px solid yellow;
}
.a1{
	text-align: center;
	margin: 15px auto;
	font-weight: 600
}
.container-4a{
	padding: 40px
}
.flex-contact{
	background: grey;
	width: 30%;
	height: auto;
	border-bottom: 2px solid red;
}
.p-end{
	font-family: arial;
	font-size: 23px;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
	font-weight: 600
}
.pend{
	font-family: arial;
	font-size: 15px;
	color: white;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}
.map{
	width: 50%;
	height: auto;
}
.input-1{
	width: 245px;
	height: 40px;
	padding-left: 9px;
}
.input-end{
	margin-top: 10px;
	margin-left: 30px;
	width: auto
}
.textarea{
	width: 100%;
	height: 350px;
	margin-top: 30px;
	padding-top: 10px;
	color: grey
}
.btn-end{
	padding: 15px;
	background: red;
	color: white;
	margin-top: 10px;
	position: absolute;
	right: 35px;
}
.mr{
	margin-right: 35px;
}
.theend{
	display: flex;
	justify-content: space-between;
}
.ending{
	width: 30%;
	margin: 10px auto;
	margin-bottom: 50px;
}
.icn{
	padding: 15px;
	background: red;
	color: white;
	border-bottom: 1px solid grey;
	cursor: pointer;
}


@media screen and (max-width: 400px)
{
	.p1{
		font-size: 15px;
		color: grey
	}
}




































